@use '~scss/mixins/colors' as colors;

.search-page {

	&__form {
		position: relative;
	}

	&__input {

		&-text {
			width: 100%;
			padding: 10px;
			border: 1px solid var(--mainColor);
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}
	}

	&__submit {
		position: absolute;
		right: .5em;
		top: 50%;
		transform: translateY(-50%);
		padding: 0;
		background: transparent;
		font-size: 1.3em;
		color: var(--mainColor);
		cursor: pointer;
	}
}