@use '~scss/mixins/breakpoints' as media;
@use '~scss/mixins/colors' as colors;
@use '~scss/mixins/flexes' as flexes;
@use '~scss/mixins/fonts' as fonts;

.breadcrumb {
    width: 100%;
    max-width: 1400px;
    padding: 20px 0 4px;
    margin: auto;

    @include media.breakpoint(xxl) {
        padding: 20px 2% 4px;
    }

    a, span {
        font-weight: 300;
        font-family: #{map-get(fonts.$fonts, 'roboto')};;
        font-size: #{map-get(fonts.$sizes, 'smaller')};
        color: #{ colors.getColor('footer-grey') };
    }

    &.tours-mobile {
        @include  media.breakpoint(md) {
            background-color: var(--mainColor);
            a, span {
                color: #{ colors.getColor('white') };
            }

            svg path {
                fill: #{ colors.getColor('white') };
            }
        }
    }

    @include  media.breakpoint(sm) {
        width: 100%;
        padding: 20px 20px 0 20px;
    }
}