@use '~scss/mixins/flexes' as flexes;
@use '~scss/mixins/fonts' as fonts;
@use '~scss/mixins/breakpoints' as media;
@use '~scss/mixins/colors' as colors;

.links {
	@include flexes.flexRowStartWrap;
	$itemsInRow: 6;
	$rowGap: 25px;
	$colGap: 20px;

	row-gap: #{ $rowGap };
	column-gap: #{ $colGap };
	padding-bottom: #{ fonts.calcSize(35px) };
	margin-bottom: #{ fonts.calcSize(65px) };
	border-bottom: 1px solid #{ colors.getColor('darkest') };

	@include media.breakpoint(sm) {
		margin-bottom: 2em;
	}

	&__item {
		max-width: #{ fonts.calcSize(330px) };
		flex: 1 0 calc(100% / #{ $itemsInRow + 1 });
		white-space: nowrap;

		@include media.breakpoint(lg) {
			max-width: initial;
		}
	}

	&_mobile {
		@include media.breakpoint(lg) {

			&-none{
				display: none;
			}

			&-scroll {
				@include flexes.flexRowStart;

				margin-left: calc(var(--horizPadding) * -1);
				margin-right: calc(var(--horizPadding) * -1);
				border-bottom: none;
				overflow-x: auto;
			}
		}
	}


	&_mobile-scroll &__item {
		@include media.breakpoint(lg) {
			$offsetContent: 20px;

			padding: 10px 15px;

			&:first-of-type {
				margin-left: #{ $offsetContent };
			}

			&:last-of-type {
				margin-right: #{ $offsetContent };
			}
		}
	}
}