@use 'sass:math';
@use '~scss/mixins/breakpoints.scss' as media;
@use '~scss/mixins/flexes' as flexes;
@use '~scss/mixins/fonts' as fonts;
@use '~scss/mixins/colors' as colors;
@use '~scss/mixins/animations' as animations;

.near {
	--itemsOffset: 25px;

	padding-bottom: 35px;
	margin-bottom: 65px;

	@include media.breakpoint(md) {
		overflow-x: hidden;
	}

	&__slider {

		@include media.breakpoint(sm) {
			margin: 0 calc(
				((100vw - 100%) / -2)
				-
				(var(--itemsOffset) / 4));
		}
	}

	&__header {
		@include flexes.flexRow;

		margin-bottom: 45px;

		@include media.breakpoint(lg) {
			margin: 0;
		}
	}

	&__title {
		font-size: #{ fonts.calcSize(38px) };
		line-height: 52px;
		padding-top: 12px;
		font-family: #{ fonts.getFonts('officina-sans') };

		@include media.breakpoint(sm) {
			font-size: 1.7em;
		}
	}

	&__show-more {
		@include flexes.flexColumnCenter;
		@include animations.addTransition;

		text-align: right;
		font-size: #{ fonts.calcSize(26px) };
		color: var(--mainColor);
		-webkit-box-sizing: border-box;
		box-sizing: border-box;

		@include media.breakpoint(md) {

			a {
				text-decoration: underline;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		a:hover {
			text-decoration: none;
		}
	}


	&-tour {
		@include flexes.flexColumn;

		height: 100%;
		position: relative;
		padding: 0 calc(var(--itemsOffset) / 2);

		@include media.breakpoint(sm) {
			--itemsOffset: 10px;
		}

		&__image {
			position: relative;
			height: 315px;
			overflow: hidden;

			img {
				min-width: 100%;
				min-height: 100%;
				width: 1px;
				height: 1px;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);

				@include media.breakpoint(sm) {
					width: auto;
				}
			}
		}


		&__title {
			@include flexes.flexColumnEnd;

			position: absolute;
			padding: 15px 20px 15px 15px;
			-webkit-box-sizing: border-box;
			background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.684) 7.64%, rgba(0, 0, 0, 0) 32.17%);
			box-sizing: border-box;
			width: 100%;
			line-height: 1;
			color: #fff;
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
			z-index: 2;
			font-size: #{ fonts.calcSize(22px) };

			&:hover {
				text-decoration: none;
				background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.684) 10%, rgba(0, 0, 0, 0) 40%);
			}

			@include media.breakpoint(sm) {
				font-size: 1em;
			}
		}

		&__description {
			$paddingVertical: 16px;
			$paddingLeft: 60px;

			@include flexes.flexColumnStart;

			flex: 1;

			&-top {

				@include flexes.flexColumnCenter;

				position: relative;
				background-color: var(--secondaryColor);
				padding: $paddingVertical 0;
				min-height: 60px;
				box-sizing: border-box;

				p {

					padding-inline-start: $paddingLeft;
					line-height: 1em;
					color: #fff;
					pointer-events: none;
				}

				&::before {
					content: "";
					display: block;
					position: absolute;
					align-self: center;
					background-image: url("/local/frontend/src/images/near/hourglass.svg");
					width: 24px;
					height: 28px;
					top: $paddingVertical;
					left: math.div($paddingLeft, 2);
					transform: translateX(-50%);
				}
			}

			&-bottom {
				@include flexes.flexRow;

				background-color: #ecedef;
				padding: 20px;
				flex: 1;

				@include media.breakpoint(sm) {
					flex-flow: column nowrap;
				}
			}

			&__month {
				@include flexes.flexRowStart;

				flex-grow: 1;
				margin-inline-end: 5px;

				&::before {
					content: "";
					display: block;
					align-self: center;
					background-image: url("/local/frontend/src/images/near/calendar.svg");
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					width: 29px;
					height: 36px;
				}
			}

			&__duration {
				@include flexes.flexColumnCenter;

				flex-grow: 1;
				margin-inline-start: 1em;

				span {
					line-height: 1.1em;
					color: #000;
					display: block;

					@include media.breakpoint(sm) {
						display: contents;
						width: auto;
					}
				}
			}

			&__price {
				width: 200px;

				@include media.breakpoint(sm) {
					margin-top: 10px;
				}

				a {
					@include flexes.flexColumnCenter;

					min-height: 48px;
					width: 100%;
					background-color: var(--mainColor);
					text-align: center;
					border-radius: 5px;
					color: #fff;
					font-family: #{ fonts.getFonts('officina-sans') };
					font-size: #{ fonts.calcSize(22px) };
					font-weight: 700;

					@include media.breakpoint(sm) {
						font-size: #{ fonts.calcSize(25px) };
					}

					&:hover {
						cursor: pointer;
						text-decoration: none;
						background-color: var(--secondaryColor);
					}
				}
			}
		}

		&.tour-details {

			.near-tour__title {

					@include media.breakpoint(sm) {

						font-size: 16px;
						font-weight: 500;
					}
				}

			.near-tour__image {

					@include media.breakpoint(sm) {

						min-height: 193px;
						height: calc((100vw - 20px) * 0.6);
					}
				}

			.near-tour__description {

					&-bottom {

						gap: 13px;
						padding: 20px;

						@include media.breakpoint(md) {

							flex-flow: column nowrap;
						}
					}

					&__month {

						align-items: end;
					}

					&__duration {

						padding-bottom: 3px;
					}
				}

		}
	}

	.swiper {

		&-wrapper {
			display: grid;
			grid-template-columns: repeat(999, auto);
		}

		&-slide {
			@include flexes.flexColumn;
			height: 100%;
		}

		&-pagination {
			display: block;
		}

		&-button-prev {
			left: var(--arrowPosition);
		}

		&-button-next {
			right: var(--arrowPosition);
			-webkit-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);

			@include media.breakpoint(lg) {
				--arrowPosition: var(--horizPadding, 0px);
			}
		}

		&-button-prev, &-button-next {
			--arrowPosition: calc((var(--horizPadding, 0px) + var(--itemsOffset, 0px) / 2) - (var(--arrowSizes) / 2));
			--arrowSizes: 56px;
			--svgColor1: #{ colors.getColor('darker-white') };
			--svgColor2: var(--mainColor);

			position: absolute;
			display: block;
			background-color: transparent;
			width: var(--arrowSizes);
			height: var(--arrowSizes);
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			cursor: pointer;
			z-index: 600;
			top: 50%;
			margin-top: -28px;

			@include media.breakpoint(md) {
				display: none;
			}

			&:hover {
				--svgColor1: var(--mainColor);
				--svgColor2: #{ colors.getColor('white') };
				opacity: initial;
			}

			svg {
				width: 100%;
				height: 100%;
			}
		}
	}
}
