@use '~scss/mixins/breakpoints' as media;
@use '~scss/mixins/colors' as colors;
@use '~scss/mixins/flexes' as flexes;
@use '~scss/mixins/fonts' as fonts;

.tour {
    .review-container.review-tour-detail {

        margin: 40px 0 0 0;
        padding: 0;
        width: 100%;

        @include media.breakpoint(lg) {

            margin-bottom: 60px;
        }
    }

    .review-tour-detail {

        &-title {

            text-align: left;
            margin-bottom: 30px;
            position: relative;

            @include  media.breakpoint(lg) {
                width: 96%;
                margin-left: auto;
                margin-right: auto;
            }

            @include  media.breakpoint(sm) {
                width: 100%;
                font-size: 22px;
                line-height: 26px;
            }
        }

        &-prev, &-next {

            width: 20px;
            height: 20px;
            top: 0;
            left: unset;
            margin-top: 0;

            svg {
                width: 20px;
                height: 20px;
            }

            @include  media.breakpoint(md) {
                display: block;
            }

            @include  media.breakpoint(sm) {
                display: none;
            }
        }

        &-prev {

            top: 7px;
            right: 40px;

            @include  media.breakpoint(lg) {
                right: calc(2% + 40px);
            }
        }

        &-next {

            top: 7px;
            right: 0;

            @include  media.breakpoint(lg) {
                right: 2%;
            }
        }

        .comment-head {

            @include  media.breakpoint(xl) {
                flex-flow: column nowrap;
            }

            @include  media.breakpoint(lg) {
                flex-flow: row nowrap;
            }

            @include  media.breakpoint(sm) {
                flex-flow: column nowrap;
            }
        }
    }
}