@use '~scss/mixins/breakpoints' as media;
@use '~scss/mixins/colors' as colors;
@use '~scss/mixins/fonts' as fonts;
@use '~scss/mixins/animations' as animations;

.tour-type {
    margin-top: 20px;

    @include media.breakpoint(sm) {
        margin-top: 10px;
    }

    .border {

        border-bottom: 1px solid #EAEAEA;

        &::after {

            content: none;

            @include media.breakpoint(md) {

                content: '';
                width: 100vw;
                height: 1px;
                left: -13px;
                top: 100%;
                background-color:  #EAEAEA;
            }

            @include media.breakpoint(sm) {

                left: 0;
            }
        }

        @include media.breakpoint(md) {

            position: relative;
            border: none;
        }

        @include media.breakpoint(sm) {

            &::after {

                left: 0;
            }
        }
    }

    .tours-list-cont {
        padding-bottom: 30px;
        margin-bottom: 60px;

        @include media.breakpoint(md) {

            padding-bottom: 18px;
            margin-bottom: 26px;
        }

        .tour-type__head {

            position: relative;
            margin-bottom: 27px;

            @include media.breakpoint(sm) {

                margin-bottom: 16px;
            }

            .title-and-pic {

                align-items: start;
                margin-bottom: 0;

                .image {

                    @include media.breakpoint(md) {

                        height: 50px;
                        width: 50px;
                    }

                    @include media.breakpoint(sm) {

                        order: 2;
                    }
                }

                .title {

                    font-size: 48px;
                    line-height: 56px;

                    &::before {
                        content: none;
                    }

                    @include media.breakpoint(sm) {

                        padding-top: 10px;
                        font-size: 28px;
                        line-height: 33px;
                    }
                }

                @include media.breakpoint(md) {

                    padding: 0;
                }

                @include media.breakpoint(sm) {

                    align-items: center;
                    margin-bottom: 16px;
                    grid-template-columns: 1fr auto;
                }
            }

            .descp {

                position: absolute;
                left: 0;
                top: 63px;
                font-size: 22px;
                line-height: 26px;
                padding-left: 118px;

                @include media.breakpoint(md) {

                    padding-left: 68px;
                    position: unset;
                }

                @include media.breakpoint(sm) {

                    padding: 0;
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }

        .tour-content {

            @include media.breakpoint(md) {

                padding-bottom: 0;
                display: grid;
            }
        }
    }

    .show-all  {

        font-size: 22px;
        line-height: 25px;
        margin-top: 45px;
        width: 330px;
        padding: 17px 0;

        a {
            display: block;
            padding: 17px;
            color: var(--mainColor);
            border: 1px solid var(--mainColor);
            border-radius: 10px;
            text-align: center;

            &:hover {
                color: #{colors.getColor('white')};
                background-color: var(--mainColor);

                @include media.breakpoint(sm) {

                    color: var(--mainColor);
                    background-color: #{colors.getColor('white')};
                }
            }


            @include media.breakpoint(sm) {
                padding: 13px;
            }
        }

        @include media.breakpoint(sm) {

            font-size: 18px;
            line-height: 21px;
            width: 100%;
        }
    }

    .near-tour {
        padding: 0;
        height: 100%;
        position: relative;

        &__image {

            height: calc((96vw - 25px) / 3 * 0.7);
            max-height: 315px;

            @include media.breakpoint(xl) {

                height: calc((96vw - 25px) / 2 * 0.7);
            }

            @include media.breakpoint(sm) {

                height: 193px;
            }
        }

        &__description {

            &-top {

                background-color: var(--mainColor);

                &.elements {

                    background-color: var(--secondaryColor);
                }
            }

            &-bottom {

                padding: 20px;
            }

            &__month {

                align-items: center;
            }
        }

    }

    .hot-tours {

        &__title {

            align-items: end;
            gap: 33px;
            grid-template-columns: auto 1fr;
            color: #{colors.getColor('black')};
            margin-bottom: 40px;

            @include media.breakpoint(md) {

                gap: 17px;
                margin-bottom: 17px;
            }

            img {

                height: 57px;
                width: auto;

                @include media.breakpoint(md) {

                    height: 30px;
                    width: auto;
                }
            }

            .ht-title {

                font-family: #{ fonts.getFonts('officina-sans') };

                @include media.breakpoint(md) {

                    position: relative;
                }

                span {

                    font-weight: 700;
                    font-size: 38px;
                    line-height: 44px;

                    @include media.breakpoint(md) {

                        font-size: 24px;
                        line-height: 28px;
                    }
                }

                &-link {

                    display: none;

                    @include media.breakpoint(md) {

                        position: absolute;
                        right: 0;
                        top: 6%;
                        display: block;
                        color: var(--mainColor);
                        font-family: #{map-get(fonts.$fonts, "roboto")};
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 21px;
                        text-decoration-line: underline;
                    }
                }
            }
        }

        &__container {

            border-bottom: 1px solid #EAEAEA;
            margin-bottom: 62px;
            padding-bottom: 62px;

            @include media.breakpoint(md) {

                margin-bottom: 38px;
                padding-bottom: 38px;
            }
        }

        &__list {

            &.gap {
                gap: 25px;

                @include media.breakpoint(sm) {
                    gap: 0;
                }
            }

        }
    }

    .tour-type-details {

        margin-bottom: 90px;

        @include media.breakpoint(sm) {
            margin-bottom: 45px;
        }

        .op-grid {

            gap: 25px;
        }
    }

    .variants {
        margin: 0;

        @include media.breakpoint(sm) {
            margin-bottom: 50px;
        }
    }
}