@use '~scss/mixins/colors' as colors;
@use '~scss/mixins/breakpoints' as media;
@use '~scss/mixins/flexes' as flexes;
@use '~scss/mixins/fonts' as fonts;

.variant {
	background-color: #{ colors.getColor('highlight') };
	margin-bottom: 40px;
	padding: 50px 0;

	&__title {
		font-size: #{ fonts.calcSize(38px) };
		line-height: 60px;
		font-family: #{ fonts.getFonts('officina-sans') };
		font-weight: 700;
	}

	&__subtitle {
		font-size: 1em;
		line-height: 27px;
		margin-bottom: 40px;
	}

	&__list {
		@include flexes.flexRow;

		margin-bottom: 10px;

		@include media.breakpoint(xxl) {
			min-height: 200px;
			padding: 0;
			flex-wrap: wrap;
		}
	}

	&__item {
		--inRow: 6;

		min-height: 230px;
		color: #{ colors.getColor('black') };
		align-items: center;

		@include flexes.flexColumnCenter;

		&:hover {
			text-decoration: none;
		}

		@include media.breakpoint(xxl) {
			--inRow: 3;

			width: calc(100% / var(--inRow, 1));
			margin-right: 0;
			padding: 20px;
		}

		@include media.breakpoint(md) {
			--inRow: 2;
		}

		&:last-of-type {
			margin-right: 0;
		}

		&-image {
			max-width: 180px;
			max-height: 180px;
			margin-bottom: 30px;
			padding: 40px;
			border-radius: 50%;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			background-color: #{ colors.getColor('white') };
			color: var(--mainColor);

			@include media.breakpoint(lg) {
				padding: 25px;
			}

			&:hover {
				box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);

				color: var(--secondaryColor);
			}

			svg {
				height: 100%;
				width: 100%;

				stroke: currentColor;

				@include media.breakpoint(sm) {
					stroke-width: 2px;
				}
			}

			&_grey {

				background: #F7F7F7;
				box-shadow: inset 0 4px 8px rgba(0, 0, 0, .1);

				&, &:hover {
					color: #{ colors.getColor('footer-grey') };
				}

				svg {
					* {
						stroke-width: 3px;
					}
				}
			}
		}

	}
}
