@use '~scss/mixins/fonts' as fonts;

@each $fontClass, $fontName in fonts.$fonts {
	.font-#{$fontClass} {
		font-family: $fontName;
	}
}

@each $sizeName, $sizeValue in fonts.$sizes {
	.size-#{$sizeName} {
		font-size: #{$sizeValue};
	}
}

// fonts including

	// custom font
	@font-face {
		font-family: sun-trek;
		src: url('~fonts/sun-trek/fonts/Sun-trek.eot');
		src: url('~fonts/sun-trek/fonts/Sun-trek.eot?#iefix') format('embedded-opentype'),
			url('~fonts/sun-trek/fonts/Sun-trek.woff') format('woff'),
			url('~fonts/sun-trek/fonts/Sun-trek.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
	}
	// end custom font

	@font-face {
		font-family: 'HeliosUltraCompressed';
		src: url('~fonts/HeliosUltra/HeliosUltraCompressed.eot');
		src: url('~fonts/HeliosUltra/HeliosUltraCompressed.eot') format('embedded-opentype'),
			url('~fonts/HeliosUltra/HeliosUltraCompressed.svg#HeliosUltraCompressed') format('svg'),
			url('~fonts/HeliosUltra/HeliosUltraCompressed.ttf') format('truetype'),
			url('~fonts/HeliosUltra/HeliosUltraCompressed.woff') format('woff'),
			url('~fonts/HeliosUltra/HeliosUltraCompressed.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'FucoExtraAP';
		src: url('~fonts/FucoExtraAP/FucoExtraAP.eot');
		src: url('~fonts/FucoExtraAP/FucoExtraAP.eot') format('embedded-opentype'),
			url('~fonts/FucoExtraAP/FucoExtraAP.svg#FucoExtraAP') format('svg'),
			url('~fonts/FucoExtraAP/FucoExtraAP.ttf') format('truetype'),
			url('~fonts/FucoExtraAP/FucoExtraAP.woff') format('woff'),
			url('~fonts/FucoExtraAP/FucoExtraAP.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'FucoExtraAP-Italic';
		src: url('~fonts/FucoExtraAP/FucoExtraAP-Italic.eot');
		src: url('~fonts/FucoExtraAP/FucoExtraAP-Italic.eot') format('embedded-opentype'),
			url('~fonts/FucoExtraAP/FucoExtraAP-Italic.svg#FucoExtraAP-Italic') format('svg'),
			url('~fonts/FucoExtraAP/FucoExtraAP-Italic.ttf') format('truetype'),
			url('~fonts/FucoExtraAP/FucoExtraAP-Italic.woff') format('woff'),
			url('~fonts/FucoExtraAP/FucoExtraAP-Italic.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'FucoExtraAP-BoldItalic';
		src: url('~fonts/FucoExtraAP/FucoExtraAP-BoldItalic.eot');
		src: url('~fonts/FucoExtraAP/FucoExtraAP-BoldItalic.eot') format('embedded-opentype'),
			url('~fonts/FucoExtraAP/FucoExtraAP-BoldItalic.svg#FucoExtraAP-BoldItalic') format('svg'),
			url('~fonts/FucoExtraAP/FucoExtraAP-BoldItalic.ttf') format('truetype'),
			url('~fonts/FucoExtraAP/FucoExtraAP-BoldItalic.woff') format('woff'),
			url('~fonts/FucoExtraAP/FucoExtraAP-BoldItalic.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'FucoExtraAP-Bold';
		src: url('~fonts/FucoExtraAP/FucoExtraAP-Bold.eot');
		src: url('~fonts/FucoExtraAP/FucoExtraAP-Bold.eot') format('embedded-opentype'),
			url('~fonts/FucoExtraAP/FucoExtraAP-Bold.svg#FucoExtraAP-Bold') format('svg'),
			url('~fonts/FucoExtraAP/FucoExtraAP-Bold.ttf') format('truetype'),
			url('~fonts/FucoExtraAP/FucoExtraAP-Bold.woff') format('woff'),
			url('~fonts/FucoExtraAP/FucoExtraAP-Bold.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'CompactC';
		src: url('~fonts/CompactC/CompactC.eot');
		src: url('~fonts/CompactC/CompactC.eot') format('embedded-opentype'),
			url('~fonts/CompactC/CompactC.svg#CompactC') format('svg'),
			url('~fonts/CompactC/CompactC.ttf') format('truetype'),
			url('~fonts/CompactC/CompactC.woff') format('woff'),
			url('~fonts/CompactC/CompactC.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'CompactC-Italic';
		src: url('~fonts/CompactC/CompactC-Italic.eot');
		src: url('~fonts/CompactC/CompactC-Italic.eot') format('embedded-opentype'),
			url('~fonts/CompactC/CompactC-Italic.svg#CompactC-Italic') format('svg'),
			url('~fonts/CompactC/CompactC-Italic.ttf') format('truetype'),
			url('~fonts/CompactC/CompactC-Italic.woff') format('woff'),
			url('~fonts/CompactC/CompactC-Italic.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'CompactC-BoldItalic';
		src: url('~fonts/CompactC/CompactC-BoldItalic.eot');
		src: url('~fonts/CompactC/CompactC-BoldItalic.eot') format('embedded-opentype'),
			url('~fonts/CompactC/CompactC-BoldItalic.svg#CompactC-BoldItalic') format('svg'),
			url('~fonts/CompactC/CompactC-BoldItalic.ttf') format('truetype'),
			url('~fonts/CompactC/CompactC-BoldItalic.woff') format('woff'),
			url('~fonts/CompactC/CompactC-BoldItalic.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'CompactC-Bold';
		src: url('~fonts/CompactC/CompactC-Bold.eot');
		src: url('~fonts/CompactC/CompactC-Bold.eot') format('embedded-opentype'),
			url('~fonts/CompactC/CompactC-Bold.svg#CompactC-Bold') format('svg'),
			url('~fonts/CompactC/CompactC-Bold.ttf') format('truetype'),
			url('~fonts/CompactC/CompactC-Bold.woff') format('woff'),
			url('~fonts/CompactC/CompactC-Bold.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'OfficinaSerifBold';
		src: url('~fonts/Officina/OfficinaSerifBold.svg#OfficinaSerifBold') format('svg'),
			url('~fonts/Officina/OfficinaSerifBold.ttf') format('truetype'),
			url('~fonts/Officina/OfficinaSerifBold.woff') format('woff'),
			url('~fonts/Officina/ofont.ru_Officina Serif.eot'),
			url('~fonts/Officina/ofont.ru_Officina Serif.eot') format('embedded-opentype'),
			url('~fonts/Officina/ofont.ru_Officina Serif.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'OfficinaSansCBold';
		src: url('~fonts/Officina/OfficinaSansCBold.ttf') format('truetype'),
			url('~fonts/Officina/OfficinaSansCBold.woff') format('woff'),
			url('~fonts/Officina/OfficinaSansCBold.eot'),
			url('~fonts/Officina/OfficinaSansCBold.eot') format('embedded-opentype');
		font-weight: normal;
		font-style: normal;
	}

	// Roboto
		@font-face {
			font-family: Roboto;
			src: url('~fonts/Roboto/Roboto-Thin.eot');
			src: url('~fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
				url('~fonts/Roboto/Roboto-Thin.woff') format('woff'),
				url('~fonts/Roboto/Roboto-Thin.ttf') format('truetype');
			font-weight: 100;
			font-style: normal;
		}

		@font-face {
			font-family: Roboto;
			src: url('~fonts/Roboto/Roboto-ThinItalic.eot');
			src: url('~fonts/Roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
				url('~fonts/Roboto/Roboto-ThinItalic.woff') format('woff'),
				url('~fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
			font-weight: 100;
			font-style: italic;
		}

		@font-face {
			font-family: Roboto;
			src: url('~fonts/Roboto/Roboto-Light.eot');
			src: url('~fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
				url('~fonts/Roboto/Roboto-Light.woff') format('woff'),
				url('~fonts/Roboto/Roboto-Light.ttf') format('truetype');
			font-weight: 300;
			font-style: normal;
		}

		@font-face {
			font-family: Roboto;
			src: url('~fonts/Roboto/Roboto-LightItalic.eot');
			src: url('~fonts/Roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
				url('~fonts/Roboto/Roboto-LightItalic.woff') format('woff'),
				url('~fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
			font-weight: 300;
			font-style: italic;
		}

		@font-face {
			font-family: Roboto;
			src: url('~fonts/Roboto/Roboto-Regular.eot');
			src: url('~fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
				url('~fonts/Roboto/Roboto-Regular.woff') format('woff'),
				url('~fonts/Roboto/Roboto-Regular.ttf') format('truetype');
			font-weight: normal;
			font-style: normal;
		}

		@font-face {
			font-family: Roboto;
			src: url('~fonts/Roboto/Roboto-Medium.eot');
			src: url('~fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
				url('~fonts/Roboto/Roboto-Medium.woff') format('woff'),
				url('~fonts/Roboto/Roboto-Medium.ttf') format('truetype');
			font-weight: 500;
			font-style: normal;
		}

		@font-face {
			font-family: Roboto;
			src: url('~fonts/Roboto/Roboto-MediumItalic.eot');
			src: url('~fonts/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
				url('~fonts/Roboto/Roboto-MediumItalic.woff') format('woff'),
				url('~fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
			font-weight: 500;
			font-style: italic;
		}

		@font-face {
			font-family: Roboto;
			src: url('~fonts/Roboto/Roboto-Regular.eot');
			src: url('~fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
				url('~fonts/Roboto/Roboto-Regular.woff') format('woff'),
				url('~fonts/Roboto/Roboto-Regular.ttf') format('truetype');
			font-weight: normal;
			font-style: normal;
		}

		@font-face {
			font-family: Roboto;
			src: url('~fonts/Roboto/Roboto-Bold.eot');
			src: url('~fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
				url('~fonts/Roboto/Roboto-Bold.woff') format('woff'),
				url('~fonts/Roboto/Roboto-Bold.ttf') format('truetype');
			font-weight: bold;
			font-style: normal;
		}

		@font-face {
			font-family: Roboto;
			src: url('~fonts/Roboto/Roboto-BoldItalic.eot');
			src: url('~fonts/Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
				url('~fonts/Roboto/Roboto-BoldItalic.woff') format('woff'),
				url('~fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
			font-weight: bold;
			font-style: italic;
		}

		@font-face {
			font-family: Roboto;
			src: url('~fonts/Roboto/Roboto-Black.eot');
			src: url('~fonts/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
				url('~fonts/Roboto/Roboto-Black.woff') format('woff'),
				url('~fonts/Roboto/Roboto-Black.ttf') format('truetype');
			font-weight: 900;
			font-style: normal;
		}

		@font-face {
			font-family: Roboto;
			src: url('~fonts/Roboto/Roboto-BlackItalic.eot');
			src: url('~fonts/Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
				url('~fonts/Roboto/Roboto-BlackItalic.woff') format('woff'),
				url('~fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
			font-weight: 900;
			font-style: italic;
		}
	// end Roboto

// end of fonts including
