@use '~scss/mixins/colors' as colors;
@use '~scss/mixins/breakpoints' as media;
@use '~scss/mixins/fonts' as fonts;
@use '~scss/mixins/flexes' as flexes;
@use '~scss/mixins/elements' as elements;

.tours-list {
	--inRow: 3;

	display: grid;
	grid-template-columns: repeat(var(--inRow, 1), 1fr);
	gap: 25px;

	@include media.breakpoint(lg) {
		--inRow: 2;
	}

	@include media.breakpoint(sm) {
		--inRow: 1;
	}

	&__item, &__link {
		@include flexes.flexColumnStart;

		width: 100%;
		height: 100%;
		position: relative;

		@include media.breakpoint(md) {
			height: initial;
		}
	}

	&__content {
		@include flexes.flexColumnEnd;
		@include colors.darkGradient;

		row-gap: 1em;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		padding: 40px 35px;
		color: #{ colors.getColor('white') };

		&:hover {
			@include colors.darkGradient(70%);
		}

		@include media.breakpoint(sm) {
			padding: 15px 25px;
		}
	}

	&__image {
		width: 100%;
		height: 380px;
		overflow: hidden;

		@include media.breakpoint(xxl) {
			height: 300px;
		}

		@include media.breakpoint(md) {
			height: 245px;
		}

		@include media.breakpoint(sm) {
			height: 230px;
		}

		img {
			width: 100%;
			min-height: 100%;
			object-fit: cover;
		}
	}

	&__price {
		background-color: var(--secondaryColor);
		color: #{ colors.getColor('white') };
		position: absolute;
		top: 0;
		left: 0;
		padding: 15px 40px;
		font-family: #{ fonts.getFonts('officina-sans') };
		text-align: center;
		font-size: #{ fonts.calcSize(20px) };
		font-weight: bold;

		@include media.breakpoint(sm) {
			padding: 10px 25px;
			font-size: 1.3em;
		}
	}

	&__title {
		font-size: #{ fonts.calcSize(22px) };
		font-weight: bold;
		line-height: #{ fonts.calcSize(25px) };

		@include media.breakpoint(sm) {
			font-size: 1.15em;
		}
	}

	&__description {
		@include flexes.flexRowStart;
		
		column-gap: 30px;
		row-gap: 1em;
		font-size: #{ fonts.calcSize(14px) };

		@include media.breakpoint(md) {
			display: none;
		}
	}

	&__mobile-description {
		display: none;
		column-gap: 30px;
		row-gap: 1em;
		font-size: #{ fonts.calcSize(14px) };
		background-color: #{ colors.getColor('highlight') };
		color: #{ colors.getColor('black') };
		padding: 24px;
		flex-grow: 1;

		@include media.breakpoint(md) {
			@include flexes.flexColumnStart;

			font-size: .875em;
		}
	}

	&__diapason, &__duration {

		@include media.breakpoint(md) {

			&.tour-duration {
				border-right: none;
			}
		}

		&::before {
			display: block;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			font-family: #{ fonts.getFonts('custom') };
			font-size: 1.3em;
		}
	}

	&__duration {
		position: relative;
		padding-left: 25px;

		&::before {
			content: '\e90d';
		}
	}

	&__diapason {
		position: relative;
		padding-left: 30px;

		&::before {
			content: '\e902';
		}
	}

	&__mobile-description &__duration {

		&::before {
			@include elements.pseudo-icon('hourglasses');
		}
	}

	&__mobile-description &__diapason{

		&::before {
			@include elements.pseudo-icon('calend2');
		}
	}
}