@use '~scss/mixins/flexes' as flexes;
@use '~scss/mixins/breakpoints' as media;
@use '~scss/mixins/colors' as colors;
@use '~scss/mixins/elements' as elements;
@use '~scss/mixins/fonts' as fonts;

.tour-duration {
	@include flexes.flexRowStart;

	grid-area: duration;
	align-items: center;
	gap: 10px;

	@include media.breakpoint(md) {
		font-size: 16px;
		border-right: 1px solid #{ colors.getColor('white') };
	}

	@include media.breakpoint(sm) {
		font-size: 12px;
		gap: 5px;
	}

	&__item {
		@include flexes.flexRowStart;

		gap: 5px;
		align-items: center;
	}

	&__number {
		display: block;
		line-height: 1em;
	}

	&_with-calend &__number {
		@include elements.calendar-border;

		font-size: 38px;
		font-weight: bold;
		font-family: #{ fonts.getFonts('officina-sans') };
		vertical-align: middle;
		align-items: center;

		@include media.breakpoint(md) {
			border: none;
			padding: 0;
			line-height: inherit;
			font-weight: inherit;
			font-size: inherit;
			font-family: inherit;
		}
	}

	&_with-calend &__measure {
		margin-inline-start: 5px;

		@include media.breakpoint(md) {
			margin-inline-start: 0;
		}
	}
}