$fonts: (
	'roboto': 'Roboto',
	'arial': 'Arial',
	'officina-sans': 'OfficinaSansCBold',
	'custom': 'sun-trek',
	'default': '\'Roboto\', Arial, serif'
);

$sizes: (
	'tiny': 11px,
	'smaller': 14px,
	'small': 16px,
	'normal': 18px,
	'big': 22px,
	'bigger': 24px,
	'giant': 26px,
);

$iconCodes: (
	'arrow-left': '\e900',
	'arrow-right': '\e901',
	'message': '\e903',
	'target': '\e904',
	'gt': '\e905',
	'arrow-up': '\e906',
	'arrow-down': '\e907',
	'star': '\e908',
	'phone': '\e909',
	'cross': '\e90a',
	'calend': '\e90b',
	'home': '\e90c',
	'hourglasses': '\e90d',
	'lt': '\e90e',
	'calend2': '\e90f',
	'hourglasses2': '\e910',
	'fire': '\e911',
	'vk': '\e912',
	'fb': '\e913',
	'inst': '\e914',
	'search': '\e915',
);

@function defaultFontFamily() {

	@return #{map-get($fonts, 'default')};
}

@function getFonts($font: 'officina-sans') {

	@return #{ map-get($fonts, $font) }, #{map-get($fonts, 'default')};
}

/** Используется для подсчета em исходя из размеров основного размера шрифта */
@function calcSize($fontSize: #{ map-get($sizes, 'normal') }) {

	@return #{ $fontSize / map-get($sizes, 'normal') }em;
}

@function getIconCode($name) {
		@return map-get($iconCodes, $name);
}