

$blockClass: 'header';

@use 'breakpoints' as media;



.#{$blockClass} {
    margin-top: 31px;
    @include media.breakpoint(sm) {
        margin-top: 13px;
    }

    &__container {
        max-width: 1400px;
        margin: 0 auto;
    }

    &__top {

        align-items: center;
        display: flex;
        flex-wrap: wrap;
        max-height: 111px;
        padding: 0 20px 17px 20px;
        @include media.breakpoint(lg) {
            justify-content: space-between;
        }
        @include media.breakpoint(sm) {
            min-width: 65px;
        }
    }

    &__search {
        background-color: white;
        display: none;
        @include media.breakpoint(lg) {
            display: block;
        }
    }

    &__logo {
        width: 272px;
        height: 80px;
        background-image: url('../icon/header/header-logo.png');
        margin-top: -16px !important;

        @include media.breakpoint(sm) {
            background: url('../icon/header/header-logo-mini.png') center no-repeat;
            width: 131px;
            height: 40px;
            margin-top: 0 !important;

        }
    }

    &__call {
        @include media.breakpoint(lg) {
            display: none;

        }

        margin-left: auto;
        display: flex;
        text-align: end;
    }

    &__call-phone {
        padding: 0 25px 0 0 !important;
    }

    &__call-phone_label {
        font-size: 12px;
        color: #898989;
        text-align: end;
    }

    &__call-phone_number {
        @include media.breakpoint(xl) {
            font-size: 18px;
        }
        font-size: 26px;
        color: #898989;
        line-height: 30px;
        font-weight: 400;
    }

    &__call-button {
        width: 212px;
        height: 50px;
        background-color: darkslateblue;
        border: none;
        border-radius: 5px;
        color: white;
    }

    &__contacts {
        @include media.breakpoint(lg) {
            display: none;
        }
        @include media.breakpoint(xl) {
            padding: 0 15px 0 15px;
        }
        padding: 0 50px 0 50px;
    }

    &__contacts-label {
        font-size: 12px;
        color: #898989;
        text-align: end;
    }

    &__contacts-social {
        text-align: end;

        img {
            margin: 8px 0 0 10px;

        }
    }

    &__country {
        @include media.breakpoint(lg) {
            display: none;

        }
        display: flex;
    }

    &__country-item {
        &:not(:last-child) {
            margin-right: 12px;
        }
    }

    &__country-item_icon {

    }

    &__country-item_label {
        text-align: center;
    }
 &__menu {
        align-items: center;

        display: flex;
        justify-content: space-between;
        padding: 0 20px 0 20px;

        @include media.breakpoint(lg) {
            display: none;
            padding: 0;
            &._active {
                position: relative;
                display: block;
            }

        }

    }

    &__menu-wrapper {
        background-color: #1151d1;

        margin-left: auto;
        z-index: 3;
        @include media.breakpoint(lg) {
            overflow: hidden;
            width: 320px;
            max-width: 100%;
            position: absolute;
            top: auto;
            right: 0;

        }
    }

    &__menu-top {
        display: flex;
        justify-content: space-between;
        padding: 30px 20px 33px 20px;
        border-bottom: white 1px solid;
        @include media.breakpoint-revert(lg) {
            display: none;
        }

    }

    &__menu-call {
        @include media.breakpoint-revert(lg) {
            display: none;
        }
    }

    &__menu-call_phone {
        padding: 10px 0 10px 0;
        color: white;
    }

    &__menu-call_phone_label {
    }

    &__menu-call_phone_number {
        font-size: 22px;
    }

    &__menu-call_button {
        height: 42px;
        width: 169px;
        color: white;
        background-color: #1151d1;
        border: 1px white solid;
        border-radius: 5px;
    }

    &__menu-country {
        cursor: pointer;
        @include media.breakpoint-revert(lg) {
            display: none;

        }
    }

    &__menu-country_item {
        cursor: pointer;
    }

    &__menu-country_item_icon {
    }

    &__menu-country_item_label {
    }


  &__menu-list {
        display: flex;
        gap: 30px;
        position: relative;
        @include media.breakpoint(lg) {

            display: block;
            padding: 20px 0 0 0;
            transition: all 0.3s linear;
            &._transform320 {
                transform: translateX(-320px);
            }
            &._transform640 {
                transform: translateX(-640px);
            }
            &._transform960 {
                transform: translateX(-960px);
            }
        }

    }

    &__menu-list_item {
        cursor: pointer;
        align-content: center;

        color: white;
        font-size: 18px;
        white-space: nowrap;

        @include media.breakpoint(xl) {
            font-size: 15px;

        }
        @include media.breakpoint-revert(lg) {
            position: relative;
        }
        @include media.breakpoint(lg) {
            font-size: 15px;
            display: none;
            padding: 0 20px 0 20px;

            &:last-child {
                margin-bottom: 20px;
            }
            &._active {
                display: block;

            }

        }
        @media (any-hover: hover) {
            @include media.breakpoint-revert(lg) {
                &:hover .#{$blockClass}__menu-list_sublist {
                    display: block;
                    visibility: visible;
                }
            }
        }
    }

    &__menu-list_link {
        line-height: 60px;
        font-size: 18px;

        @media (any-hover: hover) {
            &:hover {
                color: grey;
            }
        }
        @include media.breakpoint(xl) {
            font-size: 16px;
            line-height: 60px;
        }
        @include media.breakpoint(lg) {
            line-height: 40px;
        }
     &__menu-list_arrow {

        display: none;
        @include media.breakpoint(lg) {

            cursor: pointer;
            display: inline-block;
            width: 60px;
            line-height: 40px;
            top: 0;

        }
    }
    }



 &__menu-list_sublist {
        display: none;
        visibility: hidden;
        z-index: 3;
        position: absolute;
        background-color: white;
        @include media.breakpoint-revert(lg) {
            display: none;
            visibility: hidden;
            z-index: 3;
            padding: 24px 26px 10px 26px;
            top: 60px;
            left: 0;
            align-items: center;
            min-width: 224px;

        }

        @include media.breakpoint(lg) {
            top: 20px;
            left: 0;
            width: 100%;
            padding: 0 0 0 20px;
            background-color: #1151d1;
            transform: translate(320px);

        }

        &._active {
            display: block;
            visibility: visible;
        }
    }

    &__menu-list_sublist_item {
        color: black;
        max-width: 300px;
        white-space: normal;
        @include media.breakpoint(lg) {
            line-height: 40px;
            color: white;
        }
        @include media.breakpoint-revert(lg) {
            padding-bottom: 16px;

            @media (any-hover: hover) {
                & a:hover {
                    color: #1151d1;
                }
            }

            a {
                max-width: 300px;
            }
        }
    }

&__menu-contacts {
        width: 320px;
        position: relative;
        display: none;
        background-color: white;
        padding: 26px 30px 28px 30px;
        @include media.breakpoint(lg) {
            &._active {
                display: block;
                z-index: 4;
                top: auto;
                right: 0;
            }

        }
    }

    &__menu-contacts_social {
        img {
            margin: 8px 10px 0 0;

        }
    }

    &__menu-contacts_label {
    }

 &__menu-search {
        max-width: 330px;
        width: 330px;
        height: 38px;
        background-color: white;
        border-radius: 5px;
        align-items: center;
        display: flex;

        @include media.breakpoint(lg) {
            display: none;
        }

        @include media.breakpoint(xl) {
            width: 220px;
            min-width: 100px;
        }
    }

    &__menu-search_input {

        padding: 0 0 0 15px;
        color: #927777;
        flex-grow: 10;
        font-size: 16px;
        @include media.breakpoint(xl) {
            font-size: 13px;

        }

    }

    &__menu-search_icon {
        text-align: center;
        flex-grow: 1;
    }
}
