@use '~scss/mixins/breakpoints.scss' as media;

$displayList: (
'none', 'block', 'inline-block', 'flex', 'grid'
);

@each $display in $displayList {
	.d-#{$display} {
		display: #{$display};
	}
}
@each $breakpointName, $breakpointValue in media.$breakPoints {
	@each $display in $displayList {
		@include media.breakpoint($breakpointName) {
			.d-#{$breakpointName}-#{$display} {
				display: #{$display};
			}
		}
	}
}