@use '~scss/mixins/colors' as colors;
@use '~scss/mixins/elements' as elements;
@use '~scss/mixins/fonts' as fonts;
@use '~scss/mixins/breakpoints' as media;

.small-form {
	background-color: #{ colors.getColor('white') };
	padding: 20px;

	&__field {
		display: grid;
		grid-template-rows: auto 1fr;
		row-gap: 10px;
		margin-bottom: 12px;

		&.fieldset {
			grid-template-rows: unset;
			grid-template-columns: auto auto;
			margin-bottom: 17px;
			margin-top: 25px;
		}

		&_label {
			font-size: #{ fonts.calcSize(16px) };
			color: #{ colors.getColor('darkest') };
		}
	}

	&__input {
		--borderColor: #{ colors.getColor('small-form_input-borders') };

		display: block;
		border: 1px solid var(--borderColor);
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		min-width: 280px;
		min-height: 50px;
		font-size: #{ fonts.calcSize(16px) };
		padding: 10px 15px;

		&:invalid {
			--borderColor: #dc3c3c;
			box-shadow: 1px 1px 2px 2px var(--borderColor);
		}

		@include media.breakpoint(sm) {
			min-width: 100%;
		}


		&.select {
			font-family: #{ fonts.getFonts('roboto') };
			font-size: 14px;
			color: #{ map-get(colors.$siteColors, 'grey') };
		}

		&::placeholder {
			font-family: #{ fonts.getFonts('roboto') };
			font-weight: 400;
			font-size: 14px;
		}

		&.textarea {
			max-width: 40vw;
			min-height: 110px;
			max-height: 50vh;
			resize: both;
		}
	}

	&__submit {

		@include elements.usual-button;

		display: block;
		width: 100%;
		font-family: #{ fonts.defaultFontFamily() };
		font-size: #{ fonts.calcSize(20px) };
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}

	&__require {
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		padding-right: 30px;
		height: max-content;
	}

	&__footer {
		margin-top: 30px;
		align-items: center;
	}

	&__status {
		word-break: break-word;
		white-space: break-spaces;
	}

	&__error-text {
		color: #{ colors.getColor('error-text') };
	}
}

.rating {
	margin: 0;
	padding: 0;
	border: none;
	min-height: unset;
	min-width: unset;


	&__group {

		position: relative;
		width: 15em;
		height: 1.38em;
		background-image: url(/local/frontend/src/images/form/form-star.svg);
		background-size: 1.5em auto;
		background-repeat: repeat-x;
		margin-left: auto;

		&:focus-within {
			outline: none;
		}
	}

	&__star {

		cursor: pointer;
		border: none;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		height: 1.38em;
		font-size: inherit;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-size: 1.5em auto;
		background-repeat: repeat-x;
		min-height: unset;
		min-width: unset;
		padding: 0.75em;

		&:focus {
			outline: none;
		}

		&:hover, &:checked {
			background-image: url(/local/frontend/src/images/form/form-star-full.svg);
		}

		&:hover ~ .rating__star {
			background-image: none;
		}

		@for $i from 1 to 11 {
			&:nth-of-type(#{$i}) {
				z-index: 11 - $i;
				width: 1.5em * $i;
			}
		}
	}
}