@use '~scss/mixins/fonts' as fonts;
@use '~scss/mixins/elements' as elements;

// font icons
.icon {

	// Генерирует классы для иконок, исходя из содержимого $iconCodes
	// Пример класса: icon_fire
	@each $iconName, $iconCode in fonts.$iconCodes {
		&_#{ $iconName } {
			@include elements.pseudo-icon($iconName);
		}
	}

	&_disc {

		&::before {
			content: '•';
			display: inline-block;
			font-synthesis: none; // Запрещаем по своему преобразовывать символы
		}
	}

	&_positioned {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		font-size: 1em;
	}
}