@use '~scss/mixins/breakpoints' as media;
@use '~scss/mixins/fonts' as fonts;
@use '~scss/mixins/colors' as colors;

ul.marked-list {

    margin: 15px 0 25px 0;
    padding-left: 15px;

    & > li {

        display: block;
        position: relative;
        font-size: 18px;
        line-height: 36px;
        color: #{ colors.getColor("black") };

        @include  media.breakpoint(sm) {

            font-size: 14px;
            line-height: 24px;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &:before {
            content: '';
            position: absolute;
            width: 7px;
            height: 7px;
            left: -15px;
            top: 0.6em;
            border-radius: 4px;
            background-color: var(--mainColor);
        }
    }
}