@use '~scss/mixins/fonts' as fonts;
@use '~scss/mixins/breakpoints' as media;

.popup{

	&-container {
		display: none;
		padding: 0;
		max-height: 90vh;
		max-width: 70vw;
		overflow-x: hidden;

		@include media.breakpoint(md) {
			max-width: 100%;
		}

		@include media.breakpoint(sm) {
			width: 100%;
		}
	}

	&__title {
		font-size: #{ fonts.calcSize(24px) };
		padding: 30px 30px 0 20px;
		font-family: #{ fonts.getFonts('officina-sans') };
		text-transform: uppercase;
	}
}

.fancybox {

	&-active {
		overflow-y: hidden;
	}
}