@use '~scss/mixins/flexes' as flexes;
@use '~scss/mixins/fonts' as fonts;
@use '~scss/mixins/breakpoints' as media;
@use '~scss/mixins/colors' as colors;

.banner-items {
	@include flexes.flexRowStart;

	color: #{ colors.getColor('white') };
	gap: 5em;
	transform: translateY(-60%);

	&__element {
		@include flexes.flexColumnStart;

		border-left: 2px solid var(--mainColor);
		padding-left: #{ fonts.calcSize(28px) };
	}

	&__title {
		font-weight: 700;
		font-size: #{ fonts.calcSize(60px) };
	}

	&__description {
		font-weight: 500;
		font-size: #{ fonts.calcSize(22px) };
	}
}