@use 'breakpoints' as media;


.review {
    margin-bottom: 100px;

    &__wrapper {

    }

    &__container {
        position: relative;
        @include media.breakpoint(xxl) {
            margin: 0 20px 0 20px;
        }
    }

    &__label {
        font-size: 44px;
        text-align: center;
        padding: 50px 0 40px 0;
        @include media.breakpoint(md) {
            font-size: 30px;
            padding: 40px 0 30px 0;
        }
    }

}
.review-main{
    position: relative;
}
.review-slider {

    &__wrapper {

    }

    &__container {

    }

    &__slide {
        min-height: 450px;
        border: 1px solid darkslateblue;
        border-radius: 10px;
        padding: 35px 35px 10px 35px;

        @include media.breakpoint(xl) {
            padding: 25px 25px 25px 25px;
        }
        @include media.breakpoint(md) {
            min-height: 470px;
        }
    }

    &__top {
        margin-right: 5px;
        display: flex;
        padding: 0 0 25px 0;

        @include media.breakpoint(md) {
            display: block;
        }
    }

    &__logo {
        height: 128px;
        width: 128px;
        border-radius: 50%;
    }

    &__top-content {
        padding: 15px 0 0 25px;

        @include media.breakpoint(md) {
            display: block;
            padding: 0;
        }
    }

    &__stars {

    }

    &__logo-title {
        font-size: 18px;
        font-weight: 500;
        color: #1151d1;
    }

    &__main {
        font-size: 14px;
    }

    &__user {
        padding-bottom: 10px;
    }

    &__text {

        font-size: 14px;
        transition: all 3s ease;

        &_short {
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            -ms-line-clamp: 8;
            -webkit-line-clamp: 8;
            line-clamp: 8;
            display: -webkit-box;
            word-wrap: break-word;
            -webkit-box-orient: vertical;
            box-orient: vertical;

            @include media.breakpoint(md) {
                -ms-line-clamp: 5;
                -webkit-line-clamp: 5;
                line-clamp: 5;
            }
        }

        &_active {
            -ms-line-clamp: 100;
            -webkit-line-clamp: 100;
            line-clamp: 100;
        }

    }

    &__button-all {
        padding: 15px 0 0 0;
        color: #1151d1;
        background-color: white;
        font-size: 16px;

        &:hover {
            color: darkslateblue;
        }
    }

    &__button-prev {
        left: -20px;
        top: 50%;
        border-radius: 50%;
        background-color: #F2F1F1;
        height: 50px;
        width: 50px;

        @include media.breakpoint(md) {
            display: none;
        }

        &:after {
            font-size: 30px;
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: darkslateblue;
            }
        }

    }

    &__button-next {
        right: -20px;
        top: 50%;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #F2F1F1;

        @include media.breakpoint(md) {
            display: none;
        }

        &:after {
            font-size: 30px;
        }


        @media (any-hover: hover) {
            &:hover {
                background-color: darkslateblue;
            }
        }
    }
}

