@use '~scss/mixins/breakpoints' as media;

.op-grid {
    display: grid;
    gap: 30px;
    @for $i from 1 through 12 {
        &_#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }
    }
    @each $name, $value in media.$breakPoints {
        &_#{$name} {
            @for $i from 1 through 12 {
                &_#{$i} {
                    @include media.breakpoint-revert($name) {
                        grid-template-columns: repeat($i, 1fr);
                    }
                }
            }
        }
    }
}
