@use '~scss/mixins/breakpoints' as media;
@use '~scss/mixins/flexes' as flexes;
@use '~scss/mixins/colors' as colors;
@use '~scss/mixins/fonts' as fonts;
@use '~scss/mixins/animations' as animations;

.menu-bg {
    @include animations.addTransition(all, 200ms);

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    z-index: -1;
}

.mobile-menu-shown .menu-bg {
    opacity: 0.8;
    z-index: 5;
}

.mobile-contacts ,.mobile-menu {
    @include media.breakpoint-revert(lg) {
        display: none;
    }
}

#header .main-menu {
    @include flexes.flexRow;

    align-items: center;
    font-family: #{ fonts.defaultFontFamily() };
    column-gap: 150px;

    @include media.breakpoint(xxl) {
        column-gap: 50px;
    }

    @include media.breakpoint(xl) {
        column-gap: 20px;
    }

    @include media.breakpoint(lg) {
        padding: 0;
        height: 0;
    }

	.menu-link {
        @include flexes.flexRow;

        width: 100%;

        a {
            text-decoration: none;
        }

        .ul-parent {
            position: relative;
            width: 100%;
        }

        ul.items-level-1 {
            @include flexes.flexRowWrap;

            column-gap: 15px;

            @include media.breakpoint(lg) {
                display: block;
                width: 100%;
                padding: 0 20px;
                position: static;
                margin-top: 13px;
                margin-bottom: 44px;
                border-top: 1px solid rgba(255, 255, 255, 0.4);
            }

            li.item-level-1 {
                display: inline-block;
                position: relative;
                padding: 10px 0;
                color: colors.getColor("white");

                &.have-image {

                    & > a {
                        padding-left: 20px;

                        @include media.breakpoint(lg) {
                            padding-left: 0;
                        }
                    }
                }

                & > a {
                    display: block;
                    line-height: 21px;
                    color: inherit;
                    position: relative;
                    white-space: nowrap;

                    &[href]:hover {
                        color: colors.getColor('black');
                    }

                    img {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                &.active {
                    color: colors.getColor('black');
                }

                .container-items-level-2 {
                    position: absolute;
                    display: none;

                    @include media.breakpoint(lg) {
                        @include animations.addTransition(width, 1s);

                        padding-top: 32px;
                        position: absolute;
                        max-width: none;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        width: 0;
                        overflow: hidden;
                        z-index: 1000;
                    }
                }

                ul.items-level-2 {
                    position: relative;
                    max-width: 224px;

                    @include media.breakpoint(lg) {
                        max-width: none;
                    }
                }

                &.first:hover .container-items-level-2 {

                    @include media.breakpoint-revert(lg) {

                        left: 0;
                        margin-left: 15px;
                        transform: none;

                        ul.items-level-2::before {
                            left: 3px;
                        }
                    }
                }

                &:hover {
                    .container-items-level-2 {
                        display: block;
                        padding-top: 26px;
                        left: 50%;
                        transform: translateX(-50%);

                        @include media.breakpoint(lg) {
                            transform: none;
                            left: 0;
                            top: 32px;
                            padding-top: 0;
                            background-color: var(--mainColor);
                        }

                        ul.items-level-2 {
                            @include flexes.flexColumn;

                            padding: 26px;
                            border-radius: 5px;
                            background-color: colors.getColor('white');
                            z-index: 100;
                            width: max-content;
                            gap: 16px;
                            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

                            .back {
                                display: none;
                            }

                            & .item-level-2 {
                                display: block;
                            }

                            .item-level-2 {
                                margin: 0;
                                line-height: 19px;

                                & > a {
                                    color: colors.getColor('grey');
                                    line-height: 19px;

                                    &[href]:hover {
                                        color: var(--mainColor);

                                        @include media.breakpoint(lg) {
                                            color: colors.getColor('white');
                                        }
                                    }

                                    img {
                                        margin-right: 9px;
                                    }
                                }
                            }

                            &::before {
                                content: '';
                                position: absolute;
                                z-index: 100;
                                left: calc(50% - 10px);
                                top: -20px;
                                border: 10px solid transparent;
                                border-bottom: 10px solid colors.getColor('white');
                            }

                            @include media.breakpoint(lg) {
                                @include animations.addTransition(width, 1s);

                                display: block;
                                box-shadow: unset;
                                border-radius: unset;
                                padding: 0 20px;
                                background-color: var(--mainColor);
                                width: 320px;

                                .back {
                                    position: relative;
                                    display: block;
                                    color: #{ colors.getColor('table-borders') };
                                    font-size: 18px;
                                    line-height: 21px;
                                    font-weight: 400;
                                    padding-left: 34px;

                                    &::before {
                                        content: '';
                                        position: absolute;
                                        width: 20px;
                                        top: -2px;
                                        left: 0;
                                        height: 20px;
                                        background: url('/local/frontend/src/images/menu/back.svg') no-repeat center;
                                        background-size: 20px;
                                    }
                                }

                                &::before {
                                    content: none;
                                }

                                .item-level-2 {
                                    display: block;
                                    z-index: 990;
                                    padding-top: 19px;

                                    & > a {
                                        color: #{colors.getColor('white')};
                                    }
                                }
                            }
                        }
                    }
                }

                @include media.breakpoint(lg) {
                    display: block;
                    padding: 19px 20px 0 0;
                    margin: 0;
                    font-size: 18px;
                    width: max-content;
                    position: static;

                    .cont-arrow-child {
                        padding: 4px 10px;
                        position: relative;
                        color: inherit;

                        .arrow-child {
                            position: absolute;
                            z-index: 990;
                            left: 10px;
                            top: calc(50% - 5px);
                            color: inherit;
                            border: 6px solid transparent;
                            border-left: 6px solid currentColor;
                        }
                    }

                    a {
                        display: inline;

                        & > img {
                            display: none;
                        }
                    }
                }
            }

            &.show-container-submenu {

                li.item-level-1 {

                    position: static;

                    &.show-submenu .container-items-level-2 {
                        width: 100%;
                    }
                }
            }
        }

        @include media.breakpoint(lg) {
            @include animations.addTransition;

            display: grid;
            align-content: flex-start;
            grid-template-columns: 100%;
            grid-template-rows: auto 1fr auto;
            height: calc(100vh - 107px);
            overflow: auto;
            text-align: left;
            z-index: 990;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            left: -400px;
            top: 0;
            gap: 0;
            background-color: var(--mainColor);
            width: 320px;

            &::-webkit-scrollbar, &::-webkit-scrollbar-thumb {
                display: none;
            }

            @include media.breakpoint(sm) {
                height: calc(100vh - 67px);
            }

            .grey-notice {
                color: colors.getColor("white");
                text-align: left;
            }
            .social.mobile-menu {
                align-self: end;
                @include flexes.flexColumn;
                justify-content: flex-start;
                height: 100%;
                padding: 27px 20px 28px 20px;
                background-color: colors.getColor("white");

                .grey-notice {
                    padding-bottom: 10px;
                    color: colors.getColor("grey");
                }

                .social-list {
                    text-align: left;
                    ul > li:first-child {
                        padding-left: 0;
                    }
                }
            }

            .mobile-contacts {
                display: flex;
                justify-content: space-between;
                padding: 31px 20px 33px 20px;

                .book-callback {
                    margin: 15px 0 0 0;
                    background-color: var(--mainColor);
                    border: 1px solid #FFFFFF;
                }

                .languages a {
                    display: inline-block;

                    .grey-notice {
                        text-align: center;
                        color: colors.getColor("white");
                    }

                    &:hover {
                        color: colors.getColor("white");
                    }
                }
            }

            &.active {
                left: 0;
            }

        }
    }
}

.menu-input {
    width: 330px;
    font-size: 16px;
    line-height: 19px;

    input {
        height: 40px;
        border-radius: 5px;
        padding-left: 15px;
        padding-right: 100px;
        opacity: 70%;
        width: 210px;
        box-sizing: unset;

        @include media.breakpoint(xl) {
            padding-right: 40px;
        }

        &::placeholder {
            color: #927777;
        }
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        background: transparent;
        color: var(--mainColor);
        font-size: 1.5em;
    }

    ul {
        @include flexes.flexRow;
    }
}