@use '~scss/mixins/colors' as colors;

@keyframes spinning {

	to {
		transform: rotate(-360deg);
	}
}

@keyframes loading-elements {

	to {
		color: #{ colors.getColor('white') };
		padding-left: 300%;
	}
}

.loading {
	$elementsCount: 8;

	display: flex;
	position: fixed;
	z-index: 1001;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .4);
	align-items: center;
	justify-content: center;

	&__block {
		width: 1em;
		height: 1em;
		position: relative;
		color: var(--mainColor);
		transform: rotateZ(0);
		transform-origin: center;
		animation: spinning 3s ease-in-out infinite alternate-reverse;
		font-size: 2em;
	}

	&__item {
		position: absolute;
		top: 50%;
		left: 50%;
		transform-origin: left top;
		transform: rotateZ(0);
		padding-left: 1em;
		animation: loading-elements 3s ease-in-out alternate-reverse infinite;
		text-shadow: 0 0 5px currentColor;

		@for $i from 1 to $elementsCount + 1 {

			&:nth-child(#{ $i }n) {
				transform: rotate(#{ 360 * ($i / $elementsCount) }deg);
			}
		}
	}
}